body {
  background-color: #1c2b3b;
}
.main-content {
  display: block;
  box-sizing: border-box;
}
.header {
  font-size: 30px;
  text-align: center;
  color: white;
  letter-spacing: 5px;

  height: 250px;

  width: auto;
}
.info {
  padding: 20px;
  width: auto;
  height: 800px;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
#info-header {
  background-color: white;
  width: auto;
  height: 10px;
  margin: auto;
  padding: 20px;
  padding-bottom: 80px;
  /* padding-bottom: 10px; */
  margin-bottom: 20px;
  justify-content: center;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  text-align: center;
}

.intro {
  height: 300px;
}
#info-1 {
  display: flex;
  background-color: white;
  width: auto;
  border-radius: 10px;
  height: 400px;
  margin-bottom: 20px;
}
#info-1 img {
  width: 500px;
  height: 400px;
  border-radius: 10px;
}
#info-1 p {
  text-align: center;
  text-transform: capitalize;
  white-space: 10px;
  letter-spacing: 1px;
}

.pic1 {
  margin-top: 10px;
  width: auto;
  height: auto;
  text-align: center;
}
.pic1 img {
  background-repeat: no-repeat;
  width: 800px;
  height: 1000px;
  align-self: center;
}

p {
  font-size: 20px;
  text-align: center;
}
.info-last {
  color: orangered;
  background-color: white;
  width: auto;
  height: 100px;
  border-radius: 10px;
  align-self: center;
  padding-top: 50px;
  text-transform: uppercase;
}
